:root{
    --branco: #f7f6f7;
    --azul-claro: #b0e4f4;
    --laranja: #f4b946;
    --verde: #14ba85;
    --vermelho: rgb(218, 18, 18);
    --cinza: #e0e0e0;

    --preto: rgb(39, 37, 37);

    --font: "Roboto", serif;
    --font-titulo: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --tam-font-titulo: 40px;

    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font);
}

input{
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

ul.conteiner1 {
    margin: 0;
    list-style-type: none;
    background-color: var(--azul-claro);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}

img.whale-logo {
    border-radius: 50%;
}

li.criar {
    width: 80px;
    text-align: center;
    background-color: var(--laranja);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}

li.criar i {
    margin-right: 5px;
}

li.criar:hover {
    color: white;
}

li.entrar {
    width: 80px;
    text-align: center;
    background-color: var(--laranja);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}

li.entrar:hover {
    color: white;
}

li.registrar{
    width: 80px;
    text-align: center;
    background-color: var(--laranja);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}

li.registrar:hover {
    color: white;
}

input#pesquisar-quiz {
    font-size: 16px;
    width: 300px;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 10px;
    background-color: var(--branco);
    border: 2px solid var(--branco);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Css do footer */
footer {
    background-color: var(--azul-claro);
    margin-top: auto;
    width: 100%;
}

p.margem {
    margin: 8px 8px;
    text-align: center;
}

article.conteiner2 {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

.conteiner2 i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.conteiner2 i:hover {
    scale: 110%;
    transition: 0.5s;
}
