body {
    background-color: var(--branco);
    font-family: var(--font);
    color: var(--preto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 50px 0;
}

.quiz-responder-text h1{
    margin: 20px 0;
    font-family: var(--font-titulo);
    font-weight: 500;
    font-size: var(--tam-font-titulo);
}

.option input{
    display: none;
}

.quiz-responder-questions{
    margin: auto 0;
    width: 100%;
}

.quiz-responder-questions form{
    width: 100%;
    text-align: center;
    
}

.quiz-perguntas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: 30px 0;
}

.quiz-perguntas h2{
    margin: 10px 0;
}

.option{
    text-align: left;
    padding: 10px;
    border: 1px solid var(--cinza);
    box-shadow: var(--box-shadow);
    width: 50%;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.3s all ease;
}

.option:hover{
    transform: scale(1.03);
}

.submit-button{
    border: none;
    border-radius: 5px;
    background-color: var(--verde);
    color: var(--branco);
    width: 50%;
    height: 40px;
    font-size: 16px;
    margin: 20px 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-button:hover {
    background-color: var(--laranja);
    transform: scale(1.03);
}

ul.conteiner1 {
    margin: 0;
    list-style-type: none;
    background-color: var(--azul-claro);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}

img.whale-logo {
    border-radius: 50%;
}

li.criar {
    color: var(--branco);
    width: 80px;
    text-align: center;
    background-color: var(--laranja);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}

li.entrar {
    color: var(--branco);
    width: 80px;
    text-align: center;
    background-color: var(--laranja);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}

li.registrar{
    color: var(--branco);
    width: 80px;
    text-align: center;
    background-color: var(--laranja);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}

input#pesquisar-quiz {
    width: 300px;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 10px;
    background-color: var(--branco);
    border: 2px solid var(--branco);
}

a {
    text-decoration: none;
    color: inherit;
}

.option.selecionado {
    background-color: var(--azul-claro)
}

.option.correto {
    background-color: var(--verde);
    color: white;
    border-color: var(--verde);
}

.option.errado {
    background-color: var(--vermelho);
    color: white;
    border-color: var(--vermelho);
}

/* Css do footer */
footer {
    background-color: var(--azul-claro);
    margin-top: auto;
    width: 100%;
    font-size: 18px;
}

p.margem {
    font-weight: bold;
    margin: 8px 8px;
    text-align: center;
}

article.conteiner2 {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

.conteiner2 i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.conteiner2 i:hover {
    scale: 110%;
    transition: 0.5s;
}