body {
    background-color: var(--branco);
    font-family: var(--font);
    color: var(--preto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

main h1{
    margin: 20px 0;
    font-family: var(--font-titulo);
    font-weight: 500;
    font-size: var(--tam-font-titulo);
}

.criar-quiz-text{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

.criar-quiz-text input{
    width: 40%;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px 0;
    transition: all 0.3s ease;
}

.criar-quiz-text input:focus, .border-cinza:focus{
    outline: none;
    border-color: var(--azul-claro);
    box-shadow: 0 0 8px var(--azul-claro);
}

.criar-quiz-form form button {
    border: none;
    border-radius: 5px;
    background-color: var(--verde);
    color: var(--branco);
    width: 30%;
    height: 40px;
    font-size: 16px;
    margin: 20px 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.criar-quiz-form form button:hover {
    background-color: var(--laranja);
    transform: scale(1.05);
}


.criar-quiz-form{
    margin: auto 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

.criar-quiz-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.criar-quiz-form form input{
    box-shadow: var(--box-shadow);
    width: 40%;
    padding: 20px;
    font-size: 14px;
    border-radius: 5px;
    margin: 10px 0;
}

.border-cinza{
    border: 1px solid var(--cinza);
    box-shadow: var(--box-shadow);
    font-weight: bold;
    font-size: 18px !important;
}

.border-verde{
    border: 1px solid var(--verde);
}
.border-vermelho{
    border: 1px solid var(--vermelho);
}

ul.conteiner1 {
    margin: 0;
    list-style-type: none;
    background-color: var(--azul-claro);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}

img.whale-logo {
    border-radius: 50%;
}

li.criar {
    width: 80px;
    text-align: center;
    background-color: var(--laranja);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}

li.criar i {
    margin-right: 5px;
}

li.criar:hover {
    color: white;
}

li.entrar {
    width: 80px;
    text-align: center;
    background-color: var(--laranja);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}

li.entrar:hover {
    color: white;
}

li.registrar{
    width: 80px;
    text-align: center;
    background-color: var(--laranja);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px;
    transition: 0.5s;
    cursor: pointer;
}

li.registrar:hover {
    color: white;
}

input#pesquisar-quiz {
    font-size: 16px;
    width: 300px;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 10px;
    background-color: var(--branco);
    border: 2px solid var(--branco);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Css do footer */
footer {
    background-color: var(--azul-claro);
    margin-top: auto;
    width: 100%;
}

p {
    text-align: center;
}

article.conteiner2 {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

.conteiner2 i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.conteiner2 i:hover {
    scale: 110%;
    transition: 0.5s;
}