/* Css do Main */
main {
    margin: auto;
    display: flex;
    width: 600px;
    height: 500px;
    justify-content: center;
    background-color: var(--cinza);
    border-radius: 10px;
    border: 3px solid var(--verde);
}

h1#registrar-nome-quiz {
    margin: 10px 10px;
    font-family: var(--font-titulo);
    font-size: var(--tam-font-titulo);
}

article.article  {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

form.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form input {
    width: 500px;
    padding: 12px;
    margin: 10px 10px;
    border-radius: 5px;
    border: 1px solid var(--verde);
}

button#registrar {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--verde);
    cursor: pointer;
    margin: 10px 10px;
    border: 2px solid var(--verde);
    color: var(--branco);
    transition: 0.5s;
    font-size: 18px;
}

button#registrar:hover {
    background-color: var(--laranja);
    border: 2px solid var(--laranja);
    transform: scale(1.03);
    transition: 0.5s;
}

p#pergunta {
    color: var(--verde);
}

.input {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--preto);
}



@media (max-width: 556px) {
    ul.conteiner1 {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
    }

    li.logo {
        order: 1; 
    }

    li.pesquisar {
        order: 2;
        text-align: center; 
    }

    li.criar {
        order: 3;
        width: 58%; 
        padding: 10px;
    }

    li.entrar {
        order: 4;
        width: 58%; 
        padding: 10px;
    }

    li.registrar {
        width: 58%; 
        padding: 10px;
        order: 5;
    }

    main {
        margin-top: 5%;
        width: 350px;
        height: auto; 
        margin-bottom: 5%;
    }

    button#registrar {
        width: 200px; 
        margin-bottom: 10%;
    }

    form input {
        width: 250px;
        padding: 12px;
        margin: 10px 10px;
        border-radius: 5px;
        border: 1px solid var(--verde);
    }
}



@media (min-width: 556px) AND (max-width: 662px) {
    ul.conteiner1 {
    margin: 0;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 50px;
    }

    main {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 350px;
        height: 500px;
    }

    form input {
        width: 250px;
        padding: 12px;
        margin: 10px 10px;
    }

    button#registrar {
        width: 200px;
    }

    li.img {
        order: 1;
    }

    li.criar {
        order: 2;
    }

    li.pesquisar {
        order: 5;
        width: 100%;
        text-align: center;
    }

    li.entrar {
        order: 3;
    }
    
    li.registrar{
        order: 4;
    }

}